{% extends 'index.html' %}
{% block content %}
<div class="container-fluid">
    <div class="card">
        <div class="card-body">            
            <h5 class="card-title fw-semibold mb-4">Editar Usuario</h5>
            <div class="card">
                <div class="card-body">
                  <form action="{% url 'save_user' usuario.id %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                      <label class="form-label">DNI</label>
                      <input type="number" class="form-control" id="dni_cedula" value="{{ usuario.dni_cedula }}" name="dni_cedula">
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Nombres</label>
                      <input type="text" class="form-control" id="nombres" value="{{ usuario.nombres }}" name="nombres">
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Apellido Paterno</label>
                      <input type="text" class="form-control" id="apellido_paterno" value="{{ usuario.apellido_paterno }}" name="apellido_paterno">
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Apellido Materno</label>
                      <input type="text" class="form-control" id="apellido_materno" value="{{ usuario.apellido_materno }}" name="apellido_materno">
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Telefono</label>
                      <input type="text" class="form-control" id="telefono" value="{{ usuario.telefono }}" name="telefono" maxlength="10">
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Sector</label>
                      <select class="form-select" name="sector" value="{{ usuario.sector.id }}" id="sector" >
                        <option selected value="{{ usuario.sector.id }}">{{ usuario.sector.nombre }}</option>
                        {% for sector in sectores %}
                        <option value="{{ sector.id }}">{{ sector.nombre }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                  </form>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}