{% extends "index.html" %}
{% load static %}
{% block content %}
<h1>Nuevo medidor</h1>

<form method="post" action="{% url 'save_new_medidor' %}">
  {% csrf_token %}

  <div class="mb-3">
    <label>Número de serie</label>
    <input type="text" name="numero_serie" class="form-control" required>
  </div>

  <div class="mb-3">
    <label>Cliente</label>
    <select name="usuario_id" id="id_usuario" class="form-control js-user-select" required>
        <option value="">-- Seleccione --</option>
        {% for u in usuarios %}
        <option value="{{ u.id }}">{{ u.nombres }} {{ u.apellido_paterno }} {{ u.apellido_materno }} - {{ u.dni_cedula }}</option>
        {% endfor %}
    </select>
   </div>

  <div class="mb-3">
    <label>Fecha de instalación</label>
    <input type="date" name="fecha_instalacion" class="form-control" required>
  </div>

  <div class="mb-3">
    <label>Coordenadas (lat,lng)</label>
    <input type="text" name="coordenadas" id="id_coordenadas" class="form-control" >
  </div>

  <div class="mb-3">
    <label>Observaciones</label>
    <textarea name="observaciones" class="form-control" rows="3"></textarea>
  </div>

  <h4>Ubicación en mapa</h4>
  <div id="map" style="height: 400px;"></div>

  <button type="submit" class="btn btn-success mt-3">Guardar</button>
</form>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />

<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
<script>
  var initialLat = -0.029719;
  var initialLng = -78.173241;
  var zoomLevel = 16;

  var coordInput = document.getElementById("id_coordenadas");

  var map = L.map('map').setView([initialLat, initialLng], zoomLevel);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; OpenStreetMap contributors'
  }).addTo(map);

  var marker = L.marker([initialLat, initialLng], {draggable: true}).addTo(map);

  function updateInput(lat, lng) {
    coordInput.value = lat.toFixed(6) + "," + lng.toFixed(6);
  }

  updateInput(initialLat, initialLng);

  map.on('click', function(e) {
    marker.setLatLng(e.latlng);
    updateInput(e.latlng.lat, e.latlng.lng);
  });

  marker.on('dragend', function(e) {
    var latlng = e.target.getLatLng();
    updateInput(latlng.lat, latlng.lng);
  });
</script>

<script>
  $(document).ready(function() {
    $('.js-user-select').select2({
      width: '100%',
      placeholder: 'Buscar usuario',
      allowClear: true
    });
  });
</script>

{% endblock %}
